{% extends 'base.app.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block content %}

    {# Incluye el menu global para el objeto #}
        {% set titulo_pagina = 'Usuarios' %}
        {% set objeto_nombre_path = 'registro_user' %}
        {% include 'menu_objeto_global.html.twig' %}
	{# fin menu #}

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Password</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Direccion</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.password }}</td>
                            <td>{{ user.nombre }}</td>
                            <td>{{ user.apellido }}</td>
                            <td>{{ user.direccion }}</td>
                            <td>
                                <a href="{{ path('registro_user_show', {'id': user.id}) }}">ver</a>
                                <a href="{{ path('registro_user_edit', {'id': user.id}) }}">editar</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
