{% extends 'base.html.twig' %}

{% block title %}Pago index{% endblock %}

{% block body %}
    <h1>Pago index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N° de cuota</th>
                <th>N° de comprobante</th>
                <th>importe</th>
                <th>Comprobante</th>
                <th>Estado</th>
                <th>Creado el</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pago in pagos %}
            <tr>
                <td>{{ pago.numeroDeCuota }}</td>
                <td>{{ pago.numeroDeComprobante }}</td>
                <td>{{ pago.importe }}</td>
                <td>
                    <a href="{{ asset('uploads/pagos/constancias/' ~ pago.nombreDeComprobante) }}" target="_black">Ver doc</a>
                </td>
                <td>{{ pago.estado }}</td>
                <td>{{ pago.createdAt ? pago.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('pago_show', {'id': pago.id}) }}">ver</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('pago_edit_admin', {'id': pago.id}) }}">editar</a>                    
                    {% elseif pago.estado == 'A revisar' %}
                        <a href="{{ path('pago_edit', {'id': pago.id}) }}">editar</a>
                    {% else %}
                        -- 
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pago_new') }}">Create new</a>
{% endblock %}
